@font-face {
    font-family: 'SauceCodePro NF';
    src: url('/utils/fonts/SauceCodeProNF-Bold.woff2') format('woff2'),
      url('/utils/fonts/SauceCodeProNF-Bold.woff') format('woff'),
      url('/utils/fonts/SauceCodeProNerdFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SauceCodePro NF';
    src: url('/utils/fonts/SauceCodeProNF.woff2') format('woff2'),
        url('/utils/fonts/SauceCodeProNF.woff') format('woff'),
        url('/utils/fonts/SauceCodeProNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
}

html, body, * {
  font-family: 'SauceCodePro NF', monospace !important; 
}

html, body {
  font-size: 18px;
  color: white;
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  line-height: 1.6em;
  background-color: black;
}

h2, h3 {
  font-weight: normal;
}

h1 {
  font-weight: bold;
}

/* General links */
a {
  text-decoration: none;
  transition: color 0.3s;
}

/* Navbar links */
header a {
  color: white;
}

header a:hover, header a.active{
  font-weight: bold;
}

/* Content links */
a:not(header a) {
  color: #999;
}

a:hover:not(header a) {
  color: white;
}

nav a {
  padding-right: 19px;
}

/* ProjectCard */
.project-card {
  margin-bottom: 0.5em;
}

.project-card-header {
  display: flex;
  justify-content: space-between;
}

.project-card h3, .project-card time, .project-card p {
  margin: 0;
}

/* PostCard */
.post-card {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
}

.post-card p {
  margin: 0;
}

/* Homepage */

.home-section {
  margin-top: 2em;
}

.header-lasts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.header-lasts h3 {
  margin: 0;

}
